<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YJF摄影展</title>
    <link href="stylesheets/global.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <div id="login">
        <h1>YJF摄影展</h1>
    </div>
    <nav>
        <ul class="menu">
            <li class="type"><a href="#">主页</a></li>
            <li class="type"><a href="#building">建筑</a></li>
            <li class="type"><a href="#people">人像</a></li>
            <li class="type"><a href="#sightseeing">风景</a></li>
            <li class="type"><a href="MyInfo.html">我的信息</a></li>
        </ul>
    </nav>
</header>
<div class="block" id="building">
    <h1>建筑</h1>
    <hr class="seperator" />
    <div class="picture">
        <figure><a href="subpage.html?3.jpg"><img src="images/small/3.jpg" alt="南京纺织博物馆" /></a>
            <figcaption>南京纺织博物馆</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?4.jpg"><img src="images/small/4.jpg" alt="珠江路夜景" /></a>
            <figcaption>珠江路夜景</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?5.jpg"><img src="images/small/5.jpg" alt="南京北站" /></a>
            <figcaption>南京北站</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?6.jpg"><img src="images/small/6.jpg" alt="南京北站调度处" /></a>
            <figcaption>南京北站调度处</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?9.jpg"><img src="images/small/9.jpg" alt="南京北站建筑" /></a>
            <figcaption>南京北站建筑</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?10.jpg"><img src="images/small/10.jpg" alt="南京北站建筑" /></a>
            <figcaption>南京北站建筑</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?11.jpg"><img src="images/small/11.jpg" alt="南京北站仓库"></a>
            <figcaption>南京北站仓库</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?12.jpg"><img src="images/small/12.jpg" alt="中山码头"></a>
            <figcaption>中山码头</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?19.jpg"><img src="images/small/19.jpg" alt="老屋"></a>
            <figcaption>老屋</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?20.jpg"><img src="images/small/20.jpg" alt="老屋"></a>
            <figcaption>老屋</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?22.jpg"><img src="images/small/22.jpg" alt="回迁房"></a>
            <figcaption>回迁房</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?25.jpg"><img src="images/small/25.jpg" alt="青岛火车站旁"></a>
            <figcaption>青岛火车站旁</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?26.jpg"><img src="images/small/26.jpg" alt="青岛啤酒"></a>
            <figcaption>青岛啤酒</figcaption>
        </figure>
    </div>
</div>
<div class="block" id="people">
    <h1>人像</h1>
    <hr class="seperator" />
    <div class="picture">
        <figure><a href="subpage.html?7.jpg"><img src="images/small/7.jpg" alt="南京北站的小朋友" /></a>
            <figcaption>南京北站的小朋友</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?13.jpg"><img src="images/small/13.jpg" alt="秦淮河边的车夫"></a>
            <figcaption>秦淮河边的车夫</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?14.jpg"><img src="images/small/14.jpg" alt="上浮桥遛狗"></a>
            <figcaption>上浮桥遛狗</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?15.jpg"><img src="images/small/15.jpg" alt="回收家电的老人"></a>
            <figcaption>回收家电的老人</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?16.jpg"><img src="images/small/16.jpg" alt="收废品的老人"></a>
            <figcaption>收废品的老人</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?18.jpg"><img src="images/small/18.jpg" alt="放课后の女高中生"></a>
            <figcaption>放课后の女高中生</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?23.jpg"><img src="images/small/23.jpg" alt="抽烟的打工人"></a>
            <figcaption>抽烟的打工人</figcaption>
        </figure>
    </div>
</div>
<div class="block" id="sightseeing">
    <h1>风景</h1>
    <hr class="seperator" />
    <div class="picture">
        <figure><a href="subpage.html?1.jpg"><img src="images/small/1.jpg" alt="秋天的明孝陵" /></a>
            <figcaption>秋天的明孝陵</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?2.jpg"><img src="images/small/2.jpg" alt="明孝陵神道" /></a>
            <figcaption>明孝陵神道</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?8.jpg"><img src="images/small/8.jpg" alt="南京北站附近" /></a>
            <figcaption>南京北站附近</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?17.jpg"><img src="images/small/17.jpg" alt="废旧三轮车"></a>
            <figcaption>废旧三轮车</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?21.jpg"><img src="images/small/21.jpg" alt="街上的晾衣杆"></a>
            <figcaption>街上的晾衣杆</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?24.jpg"><img src="images/small/24.jpg" alt="老屋街巷"></a>
            <figcaption>老屋街巷</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?27.jpg"><img src="images/small/27.jpg" alt="西桥小吃街"></a>
            <figcaption>西桥小吃街</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?28.jpg"><img src="images/small/28.jpg" alt="南京园博园"></a>
            <figcaption>南京园博园</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?29.jpg"><img src="images/small/29.jpg" alt="南京园博园"></a>
            <figcaption>南京园博园</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?30.jpg"><img src="images/small/30.jpg" alt="南京园博园"></a>
            <figcaption>南京园博园</figcaption>
        </figure>
    </div>
    <div class="picture">
        <figure><a href="subpage.html?31.jpg"><img src="images/small/31.jpg" alt="上海火车旁的楼"></a>
            <figcaption>上海火车旁的楼</figcaption>
        </figure>
    </div>
</div>
<script src="javascripts/index.js" type="text/javascript" rel="script"></script>
</body>
</html>
