<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的信息-YJF摄影展</title>
    <link href="stylesheets/global.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<form>
    <fieldset>
        <legend>
            用户信息
        </legend>
        <p>
            <label class="title" for="email">邮箱:</label>
            <input type="email" name="email" id="email" placeholder="请输入邮箱地址"><br />
            <label class="title" for="password">密码:</label>
            <input type="password" name="password" id="password" placeholder="请输入密码"><br />
        </p>
    </fieldset>
</form>
</body>
</html>
